@model ContatoModel

@{
    ViewBag.Title = "Editar contato";
    Layout = "_Layout";
}
<br/>
@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}
<br/>
<div class="text-center">
    <h1 class="display-4">Edição de contato</h1>
</div>

<form method="post" asp-controller="Contato" asp-action="Alterar">
    <input type="hidden" asp-for="Id"/>
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control">
        @Html.ValidationMessageFor(x => x.Nome)
        <br/>

        <label for="email" class="form-label">Email</label>
        <input type="email" asp-for="Email" class="form-control">
        @Html.ValidationMessageFor(x => x.Email)
        <br/>

        <label for="celular" class="form-label">Celular</label>
        <input type="text" asp-for="Celular" class="form-control">
        @Html.ValidationMessageFor(x => x.Celular)
    </div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index">Voltar</a>
    </div>
</form>